:host {
  display: block;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;

  &[data-rounded='true'] {
    border-radius: 20px;
  }

  &[data-color='blue'] {
    background: blue;
    border: 2px solid blue;
    color: white;
  }

  &[data-color='red'] {
    background: red;
    border: 2px solid red;
    color: white;
  }

  &[data-color='green'] {
    background: green;
    border: 2px solid green;
    color: white;
  }

  &[app-button-outline] {
    &[data-color='blue'] {
      background: white;
      border: 2px solid blue;
      color: blue;
    }

    &[data-color='red'] {
      background: white;
      border: 2px solid red;
      color: red;
    }

    &[data-color='green'] {
      background: white;
      border: 2px solid green;
      color: green;
    }
  }

  &[data-size='small'] {
    font-size: 10px;
  }

  &[data-size='medium'] {
    font-size: 15px;
  }

  &[data-size='large'] {
    font-size: 20px;
  }
}
